
td,th{
    text-align: center;
    width: 180px;
    padding: 5px;
    border: 1px solid #e8e8ea;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}
.green-switch.ant-switch-checked {
  background-color: #3CB043 !important; /* xanh lรก khi on */
}